<!-- Footer -->
<footer class="footer" id="footer">
    <div class="sub__inner--footer">
    <h2 class="footer__title"><span>Contact me</span></h2>
    <a href="mailto:xavier.muneku@gmail.com" class="footer__link"
        >xavier.muneku@gmail.com</a
    >
    <ul class="social-list">
        <li class="social-list__item">
        <a
            href="http://www.linkedin.com/in/xavier-muneku-600a44177"
            target="_blank"
            rel="noopener noreferrer"
            class="social-list__link fab fa-linkedin"
        ></a>
        </li>
        <li class="social-list__item">
        <a
            href="https://wa.me/213541145717?text=Hello%20Xavier%20I%20just%20visited%20your%20portfolio%20website.%20%20"
            target="_blank"
            rel="noopener noreferrer"
            class="social-list__link fab fa-whatsapp-square"
        ></a>
        </li>
        <li class="social-list__item">
        <a
            href="https://www.instagram.com/xavier_163/"
            target="_blank"
            rel="noopener noreferrer"
            class="social-list__link fab fa-instagram-square"
        ></a>
        </li>
    </ul>
    </div>
    <div class="sub__inner--footer-bottom">
    <div>
        <p class="copyright">
        Copyright &copy; <span id="currentYear"></span>, Xavier K Muneku |
        All rights reserved.
        </p>
        <p class="credit">
        <span>Credit to:</span>
        <a
            href="https://www.freecodecamp.org/"
            target="_blank"
            rel="noopener noreferrer"
            >freeCodeCamp</a
        >
        &amp;
        <a
            href="https://www.kevinpowell.co/"
            target="_blank"
            rel="noopener noreferrer"
            >Kevin Powell</a
        >
        </p>
    </div>
    </div>
</footer>