<!-- Portfolio item -->
<a
    href="{{ post.data.link }}"
    target="_blank"
    rel="noopener noreferrer"
    class="portfolio__item"
>
    <img
    src="{{ post.data.image }}"
    alt="{{ post.data.imageAlt }}"
    class="portfolio__img"
    />
</a>